.dashboard-left {
  width: 25%;
  background-color: green;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-left {
  width: 75%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: darkred;
  text-align: center;
}

button {
  background-color: #ffcc00;
  color: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9900;
}

